body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: white;
}

hr {
  border-style: dotted none none;
  border-color: #2A0944;
  height: 2px;
  width: 5%;
  border-width: 5px;
  margin-top: 30px;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Indie Flower', cursive;
  color: #FEC260;
  line-height: 2;
}

h2 {
  font-family: 'Merriweather', serif;
  font-size: 2.5rem;
  color: #FEC260;
}

h3 {
  font-family: 'Merriweather', serif;
  color: #FEC260;
}

.btn {
  background: #2A0944;
  background-image: -webkit-linear-gradient(top, #2A0944, #3B185F);
  background-image: -moz-linear-gradient(top, #2A0944, #3B185F);
  background-image: -ms-linear-gradient(top, #2A0944, #3B185F);
  background-image: -o-linear-gradient(top, #2A0944, #3B185F);
  background-image: linear-gradient(to bottom, #2A0944, #3B185F);
  -webkit-border-radius: 13;
  -moz-border-radius: 13;
  border-radius: 13px;
  font-family: 'Merriweather', serif;
  color: #FEC260;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.contact-me {
  padding-bottom: 100px;
}

.btn:hover {
  background: #3B185F;
  background-image: -webkit-linear-gradient(top, #3B185F, #FEC260);
  background-image: -moz-linear-gradient(top, #3B185F, #FEC260);
  background-image: -ms-linear-gradient(top, #3B185F, #FEC260);
  background-image: -o-linear-gradient(top, #3B185F, #FEC260);
  background-image: linear-gradient(to bottom, #3B185F, #FEC260);
  text-decoration: none;
}

.top-container {
  background-color: #2A0944;
  position: relative;
  padding-top: 100px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.middle-container {
  background-color: #3B185F;
}

.contact-blurb {
  padding-bottom: 50px;
}

.bottom-container {
  background-color: #2A0944;
  padding-top: 50px;
  padding-bottom: 80px;
}

.footer-link {
  color: #FEC260;
  font-family: 'Indie Flower', cursive;
  text-decoration: none;
  font-weight: bolder;
  font-size: 20px ;
  margin-right: 20px ;
  margin-bottom: 50px;
}

.pro {
  text-decoration: underline;
}
.copyright {
  font-size: 12px;
  margin-top: 50px;
}
.comp-img {
  border-radius: 100%;
  width: 20%;
  float: right;
  margin-left: 30px;
}

.po-img {
  width: 20%;
  float: left;
  margin-right: 30px;
}

.bottom-cloud {
  position: absolute;
  margin-right: 400px;
}

.top-cloud {
  position: relative;
  margin-left: 500px;
}

.circular {
  border-radius: 100%;
}
